<template>
  <div class="content-container">
    <h4>{{ $store.state.gameId }}</h4>
    <div v-if="game.status === 'in-progress'">
      <pre>{{ game }}</pre>
      <production-sheet></production-sheet>
      <button @click="$store.dispatch('completeGame')">Complete Game</button>
    </div>
    <div v-if="game.status === 'completed'">
      <stats></stats>
    </div>
  </div>
</template>

<script>
import ProductionSheet from './production-sheet/ProductionSheet';
import Stats from './stats/Stats';

export default {
  computed: {
    game () {
      return this.$store.state.game || {};
    }
  },
  components: {
    ProductionSheet,
    Stats
  }
};
</script>

<style scoped>
  h1 {
    background-color: transparent;
  }
</style>
