h1 {
  @apply --header1;
}

h2 {
  @apply --header2;
}

h3 {
  @apply --header3;
}

h4 {
  @apply --header4;
}

h5 {
  @apply --header5;
}

h6 {
  @apply --header6;
}

blockquote {
  @apply --header4;
}

a {
  position: relative;
  color: var(--colorBlack);
  margin: 0;
  text-decoration: none;
  transition: 0.3s ease color;

  &:hover {
    color: var(--colorAccent);
  }
}

p {
  @apply --body;

  text-align: left;
  margin: var(--spacingMd) 0;

  @media (--desktop) {
    text-align: auto;
  }
}
