<template>
  <div>
    {{ resource }} You Have: {{ amount }}<br>
    <span v-if="showProduction">{{ resource }} You Produce: {{ production }}</span><br>
    <div class="values-changes">
      <value-change :value="amount" :friction="friction" @changeValue="changePlayerValue"></value-change>
      <value-change
        class="production"
        v-if="showProduction"
        :belowZero="belowZero"
        :value="production"
        :friction="10"
        @changeValue="changePlayerProduction">
      </value-change>
    </div>
  </div>
</template>

<script>
import ValueChange from './ValueChange';

export default {
  name: 'resource',
  props: ['amount', 'production', 'resource', 'friction'],
  computed: {
    showProduction () {
      return typeof this.production !== 'undefined';
    },
    belowZero () {
      return this.resource === 'me';
    }
  },
  methods: {
    changePlayerValue (amount) {
      this.$store.dispatch('changePlayerValueZeroCheck', {
        key: this.resource,
        value: amount
      });
    },
    changePlayerProduction (amount) {
      if (this.belowZero) {
        this.$store.dispatch('changePlayerValue', {
          key: this.resource + 'P',
          value: amount
        });
      } else {
        this.$store.dispatch('changePlayerValueZeroCheck', {
          key: this.resource + 'P',
          value: amount
        });
      }
    }
  },
  components: {
    ValueChange
  }
};
</script>

<style>
.values-changes {
  display: flex;

  & .value-change {
    margin-right: 5rem;

  }

  & .production .click-zone {
    background-color: blue;
  }
}
</style>
