:root {
  /* Application Colors */
  --colorPrimary: #1f1514;
  --colorAccent: #f6ca00;

  /* Shades */
  --colorBlack: #000000;
  --colorDarkerGrey: #444444;
  --colorDarkGrey: #666666;
  --colorGrey: #979797;
  --colorWhite: #ffffff;

  /* Alert Colors */
  --colorSuccess: #4caf50;
  --colorWarning: #ffc107;
  --colorError: #f44336;

  /* Transparent Colors */
  --colorTransparent: #00000000;
}
