:root {
  --phoneWidth: 350px;
  --tabletWidth: 500px;
  --desktopWidth: 750px;
  --televisionWidth: 1440px;
}

/* STRITCLY for items that sit outside of the container */
@custom-media --contentWidth (width >= 1060px);

/* Phone (mobile first so no @phone rule) */
@custom-media --notPhone (width >= 350px);
@custom-media --underPhone (width < 350px);

/* Tablet */
@custom-media --tablet (width >= 500px);
@custom-media --notTablet (width < 500px) and (width >= 750px);

/* Desktop */
@custom-media --desktop (width >= 750px);
@custom-media --notDesktop (width < 750px) and (width >= 1440px);

/* Television */
@custom-media --television (width >= 1440px);
@custom-media --notTelevision (width < 1440px);

/* Aspect Ratios */
@custom-media --minAspect (min-aspect-ratio: 16/9);
@custom-media --maxAspect (max-aspect-ratio: 16/9);
