/**
 * These Styles come directly from Zeplin and are named after those styles
 * So please think twice before editing these.
 */

:root {
  --fontSerifPrimary:
    Times,
    serif;
  --fontSansSerifPrimary:
    helvetica,
    arial,
    sans-serif;

  --header1: {
    font-size: 5em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: var(--colorBlack);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 6em;
    }
  }

  --header2: {
    font-size: 4em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.05rem;
    color: var(--colorBlack);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 5em;
    }
  }

  --header3: {
    font-size: 3em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.04rem;
    color: var(--colorBlack);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 4em;
    }
  }

  --header4: {
    font-size: 2em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.03rem;
    color: var(--colorDarkGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 3em;
    }
  }

  --header5: {
    font-size: 1.6em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--colorDarkGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 1.8em;
    }
  }

  --header6: {
    font-size: 1em;
    font-family: var(--fontSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: var(--colorAccent);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 1.5em;
    }
  }

  /* *************
       Others
  ************* */

  --body: {
    font-size: 1.8em;
    font-family: var(--fontSansSerifPrimary);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: var(--colorBlack);

    @media (--desktop) {
      font-size: 1.6em;
    }
  }
}
